.logicBoard {
    canvas {
	position: fixed;
	top: 60px;
	left: 0;
	z-index: 1;
    }
    .canvasOver {
	z-index: 2;
    }
    .legend {
	position: fixed;
	top: 60px;
	left: 0;
	max-width: 100vw;
	background: transparent;
	z-index: 2;
	user-select: none;
	ul {
	    list-style-type: none;
	}

    }
    .slideControl {
	position: fixed;
	z-index: 3;
	right: 6px;
	top: 80px;
    }
}

.debugButton {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 20px;
    z-index: 3;
    background: lightgreen;
}

.debugInfo {
    font-family: Courier new;
    position: fixed;    
    background: grey;
    border: 1px solid var(--text-color);
    box-sizing: border-box;
    bottom: 0px;
    left: 0;
    width: 100vw;
    height: 200px;
    z-index: 3;
}
