.evgSlider {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20px;
    .bop {
	min-width: 12px;
	min-height: 12px;
	width: 12px;
	height: 12px;
	border-radius: 200px;
	border: 2px solid var(--text-color);
	box-sizing: border-box;
    }
    .inb {
	width: 4px;
	background: var(--text-color);
	box-sizing: border-box;
    }
    .overBound {
	height: 0;
    }
}
